name: "CI Backend"

on:
  pull_request:
    branches: [main]
  push:
    branches: [main]

jobs:
  backend:
    if: github.repository == 'KonorOko/ModbusX'
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Install Rust
        uses: dtolnay/rust-toolchain@stable

      - name: Cargo Fmt Check
        working-directory: src-tauri
        run: cargo fmt --all --check
